/Projects/SONIC Z-TREME/ZTE/*.o
/Projects/SONIC Z-TREME/SRC/*.o
/Projects/SONIC Z-TREME/*.o
/Projects/SONIC Z-TREME/sl_coff.*
/Projects/SONIC Z-TREME/cd/0.bin
/Emulators/mednafen/sav/
/Emulators/mednafen/b/
/Emulators/mednafen/mednafen.cfg
/Emulators/mednafen/firmware/mpr-17933.bin
/Emulators/nova/bios/BIOS.BIN
